version: '3.4'

services:
  maven:
    container_name: mymaven
    image: maven
    build:
      context: .
      dockerfile: ./Dockerfile
    volumes:
        - ./app:/usr/app
    ports:
      - 3010:3000
    command: tail -f /dev/null # keep open container 
